.maze {
    a {
        color: black;
        background-color: white;
        text-decoration: none;
        border: 1px solid black;
        padding: 2px;
    }

    a:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
    }
    button {
        background-color: white;
        border: 1px solid black;
    }
    button:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
    }
}
